@media only screen and (min-width: 64rem )
{
header, nav{
    margin: auto;
    max-width: 64rem;
    }
    

header {}
header h1 {}
header img {
    
        

}
    header{
       background-image:url("../images/sun.sole.png");
        background-repeat: no-repeat;
        background-position: center;
        padding: 10px 10px 10px 10px;
        height: 100%;
        width: auto;
        background-size: contain;
    }
header .subheading {}

nav {}
nav button {}
nav ul {
    display: flex;
    list-style-type: none;
    position: relative;
    color: blue;
    padding-left: 0px;
    
}
nav ul li {
    display: block;
    /*padding: 10px 10px 10px 10px;*/   
    font-size: 15px;
    color: blue;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    
}
nav ul li a {}
nav ul li.active a {
    background-color: blue;
    color: white;
    }
nav ul li a:hover {}

main figure picture img{
    display: flex;
    position: center;
    padding-left: 100px;
       
    }
h2 {
    text-align: center;
    font-size: 30px;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
nav figure img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.forecast{     
    display: block;
    text-align: justify;
    background-color: #ffffff;
    padding: 50px;

}

h3{
    font-size: 30px;
    padding-right: 50;
}

div picture img{
    max-width: 100%;
    width: 100%;
    height: 300px;    
}

article img{
    width: 400px;
    height: auto;
}

.sunny{
    height: 65px;
    width: 65px;
}


footer {
    position: fixed;
    height: 140px;
    bottom: 0;
    background-color: blue;
    width: 100%;
    left: 0;
 
}

.weather-summary{
    text-align: center;
    position: static;
}

.country-image{
    display: block;
    float: left;
    padding: 80px;
   }
    
    .country-image p{
        font-size: 14px;
    }

.town-article{
    float: right;
    padding: 10px 10px;
    padding-bottom: 100px;
    }

.contact{
    text-align: center;
    padding: 20px;
    }

 #content-mobile {
        display: block;
        visibility: visible;
        font-size: inherit;
    }

#content-desktop {
        display: none;
        visibility: hidden;
        font-size: 0;
}
html{
        font-family: 'Work Sans', sans-serif; /* Declare the base font-family */
    }
.icon {
        text-align: left;
        font-size:38px;
        cursor:pointer;
        margin-top: 35px;
        margin-left: 25px;
        position:relative;
        top:-10px;
        right:-10px;
        left:-10px;
        bottom:-10px;
        float: left;
        z-index:40;
        visibility: hidden;

    }
     .sidenav {
        display: none;
        visibility: hidden;
        font-size: 0;
    }
    table.center{
        margin-left: auto;
        margin-right: auto;
    }
    table, td, th { border: 1px solid gray}
     table, td, th{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
    }
     h6{
        display: none;
    }
    body, html{
        padding-bottom: 100px;
    }

}
}